<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    #container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        /* border: 1px solid black; */
        background-color: rgb(252, 245, 246);
    }
    
    .header {
        margin: 1rem auto;
        height: auto;
        width: 50%;
        padding: 1rem;
        border-radius: 0.5rem;
        /* border: 1px solid black; */
        position: relative;
        background-color: white;
    }
    
    .header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 10%;
        width: 100%;
        background-color: blueviolet;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    
    .card {
        margin: 1rem auto;
        height: auto;
        width: 50%;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: white;
    }
    
    .headings {
        font-weight: lighter;
        position: relative;
    }
    
    .submit {
        outline: none;
        border: none;
        background-color: rgb(58, 58, 241);
        color: white;
        border-radius: 0.3rem;
        padding: 0.5rem 2rem;
        margin: 1rem 0;
        transition: 0.2s linear;
        display: block;
    }
    
    .submit:nth-child(2n+1) {
        background-color: red;
    }
    
    .submit:hover {
        background-color: rgb(141, 141, 252);
    }
    
    .submit:hover:nth-child(2n+1) {
        background-color: rgb(252, 112, 112);
    }
    
    @media screen and (max-width:450px) {
        .header {
            width: 90%;
        }
        .card {
            width: 90%;
        }
        .form-inputs {
            width: 70%;
        }
    }
</style>

<body>
    <div id="container">
        <div class="header">
            <h1 style="margin-top: 1rem;">This is a Trial Form</h1>
            <p style="margin-top: 1rem;">All Responses submitted</p>
        </div>
        <% if(data){ %>
            <% data.forEach(ele=>{ %>
                <div class="card">
                    <h2 class="headings">
                        <%= ele.name_personal %>
                    </h2>
                    <h3 class="headings" style="display: block; margin-top: 0.5rem;">
                        <%= ele.name_club %>
                    </h3>
                    <form action="/admin/myForm/Details<%=ele.id%>" method="GET">
                        <input type="submit" value="Check Here" name="Submit" class="submit">
                    </form>
                    <form action="/admin/myFrom/deleteData<%= ele.id %>?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete This Response" class="submit">
                    </form>

                </div>

                <%   }) %>
                    <% } %>
    </div>
</body>

</html>